$body_font: 'Roboto', sans-serif;
$heading_font: 'Poppins', sans-serif;

$font_heading: 'Poppins', sans-serif;
$font_body: 'Roboto', sans-serif;

$color_link: #666666;
$color_title: #000000;
$color_accent: #7b7a7a;
$color_primary: #ec1c24;
$color_darkprimary: #bd2127;
$color_body: #5a5a5a;
$color_light: #ffffff;
$color_dark: #111111;
$color_black: #000000;
$secondaryColor:  $color_black;