/*------------------- 4.12 Widget -------------------*/

@media only screen and (max-width: 991px) {
	.sidebar-break-md {
		margin-top: rem(50px);
	}
}

.sidebar-widget-area {
	.widget {
		margin-bottom: rem(40px);
		background-color: #f8f8f8;
		border-radius: rem(3px);
		padding: rem(26px 40px 40px);
		@media only screen and (max-width: 1199px) {
			padding: rem(26px 25px 40px);
		}
		@media only screen and (max-width: 991px) {
			padding: rem(26px 40px 40px);
		}
		@media only screen and (max-width: 479px) {
			padding: rem(26px 25px 40px);
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
		.widget-title {
			font-size: rem(20px);
			font-weight: 700;
			margin-bottom: rem(15px);
		}
	}
}
.widget-border-box {
	border: rem(1px) solid #dbdbdb;
	border-radius: rem(3px);
	padding: rem(26px 30px 40px);
	@media only screen and (max-width: 479px) {
		padding: rem(26px 15px 40px);
	}
	.widget-title {
		font-size: rem(20px);
		font-weight: 600;
		margin-bottom: rem(15px);
	}
}
.widget-next-show {
	@media only screen and (max-width: 1199px) {
		padding: rem(26px 15px 40px);
	}
	.media {
		align-items: center;
		.item-img {
			margin-right: rem(20px);
			a {
				overflow: hidden;
				border-radius: rem(3px);
			}
			img {
				border-radius: rem(3px);
				transform: scale(1);
				transition: all 0.3s ease-in-out;
			}
		}
		.media-body {
			.show-time {
				font-family: $font-heading;
				font-size: rem(18px);
				font-weight: 600;
				color: $color_black;
				margin-bottom: rem(8px);
			}
			.show-title {
				font-size: rem(18px);
				font-weight: 400;
				margin-bottom: 0;
				line-height: rem(25px);
				a {
					color: $color_black;
					&:hover {
						color: $color_primary;
					}
				}

			}
			.host-name {
				font-size: rem(14px);
				letter-spacing: rem(2px);
				color: $color_primary;
			}
		}
		&:hover {
			.item-img {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}

.widget-ad {
	@media only screen and (max-width: 991px) {
		text-align: center;
	}
	a {
		border-radius: rem(3px);
		img {
			border-radius: rem(3px);
		}
	}
}
/*widget post*/
.widget_fmwave_posts {
	.media {
		margin-bottom: rem(20px);
		&:last-child {
			margin-bottom: 0;
		}
		.item-img {
			margin-right: rem(20px);
			width: 100px;
			line-height: 0;
			a {
				overflow: hidden;
				border-radius: rem(3px);
			}
			img {
				border-radius: rem(3px);
				transform: scale(1);
				transition: all 0.3s ease-in-out;
			}
		}
		.media-body {
			.news-time {
				font-size: rem(14px);
				color: #8f8c8c;
			}
			.news-title {
				font-size: rem(16px);
				font-weight: 600;
				margin-bottom: 0;
				line-height: rem(22px);
				a {
					color: $color_black;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					&:hover {
						color: $color_primary;
					}
				}

			}
			.post-content {
				p {
					margin-bottom: 0;
				}
			}
		}
		&:hover {
			.item-img {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}
/*widget image*/
.sidebar-widget-area .widget.widget_media_image {
    padding: 0;
    img {
    	border-radius: 3px;
    }
}
.sidebar-widget-area .widget_search {
	background-color: transparent;
	border-radius: rem(0);
	padding: rem(0);
	.widget-search-box {
		padding: 0px;
		background: transparent;
		.stylish-input-group {
			background: transparent;
			height: rem(70px);
			.form-control {
				height: rem(70px);
				padding: rem(10px 30px 10px);
				border: rem(1px) solid #eaebeb;
				border-right: none;
				box-shadow: none;
				border-radius: rem(3px 0 0 3px);
				background: transparent;
				color: $color_dark;
				font-size: rem(14px);
			}
			.input-group-addon {
				padding: 0;
				border: none;
				border-radius: 0;
				background: transparent !important;
				button {
					height: 100%;
					padding: rem(5px 30px);
					cursor: pointer;
					background: $color_primary;
					border: 0;
					border-radius: rem(0 3px 3px 0);
					transition: all 0.3s ease-in-out;
					span {
						color: $color_light;
						font-size: rem(20px);
						font-weight: 600;
						transition: all 0.3s ease-in-out;
					}
					&:focus {
						outline: none;
					}
					&:hover {
						background: #c51a21;
					}
				}
			}
			input.form-control::-webkit-input-placeholder,
			textarea.form-control::-webkit-input-placeholder {
				color: #afafaf;
				font-size: rem(18px);
			}
		}
	}
}
/*Search Box*/
.elementor-widget-container {
	.stylish-input-group {
		background: transparent;
		height: rem(70px);
		.form-control {
			height: rem(70px);
			padding: rem(10px 30px 10px);
			border: rem(2px) solid #eaebeb;
			border-right: none;
			box-shadow: none;
			border-radius: rem(3px 0 0 3px);
			background: transparent;
			color: $color_dark;
			font-size: rem(14px);
		}
		.input-group-addon {
			padding: 0;
			border: none;
			border-radius: 0;
			background: transparent !important;
			button {
				height: 100%;
				padding: rem(5px 30px);
				cursor: pointer;
				background: $color_primary;
				border: 0;
				border-radius: rem(0 3px 3px 0);
				transition: all 0.3s ease-in-out;
				span {
					color: $color_light;
					font-size: rem(20px);
					font-weight: 600;
					transition: all 0.3s ease-in-out;
				}
				&:focus {
					outline: none;
				}
				&:hover {
					background: #c51a21;
				}
			}
		}
		input.form-control::-webkit-input-placeholder,
		textarea.form-control::-webkit-input-placeholder {
			color: #afafaf;
			font-size: rem(18px);
		}
	}
}

.widget-search.border-search {
	.stylish-input-group {
		box-shadow: rem(0 0 10px 0) rgba(0, 0, 0, 0.06);
		.form-control {
			border: none;
		}
		.input-group-addon {
			button {
				background: transparent;
				span {
					color: #e5e5e5;
				}
				&:hover {
					span {
						color: $color_primary;
					}
				}
			}
		}
	}
}
.widget {
	ul {
		li {
			position: relative;
			margin-bottom: rem(10px);
			padding-left: rem(30px);
			transition: all 0.3s ease-in-out;
			&:before {
				content: "";
				height: rem(2px);
				width: rem(15px);
				background-color: $color_primary;
				position: absolute;
				top: rem(14px);
				left: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&:hover {
				transform: translateX(10px);
			}
			a {
				color: #676767;
				&:hover {
					color: $color_black;
				}
			}
		}
	}
}
.widget-tag {
	.tag-list {
		li {
			display: inline-block;
			a {
				font-family: $font_heading;
				color: $color_black;
				font-weight: 500;
				font-size: rem(15px);
				&:hover {
					color: $color_primary;
				}
			}
		}
	}
}

.widget-social {
	padding-bottom: rem(32px);
	.social-list {
		li {
			display: inline-block;
			margin-right: rem(5px);
			margin-bottom: rem(8px);
			&:last-child {
				margin-right: 0;
			}
			a {
				text-align: center;
				height: rem(45px);
				width: rem(45px);
				line-height: rem(45px);
				background-color: #eeeeee;
				font-size: rem(18px);
				color: #9b9b9b;
				&:hover {
					background-color: #6495e6;
					color: $color_light;
				}
			}
		}
	}
}

.widget-contact-form {
	background-color: $color_primary;
	border-radius: rem(3px);
	padding: rem(70px 45px);
	@media only screen and (max-width: 767px) {
		padding: rem(50px 30px);
	}
	.item-title {
		font-size: rem(20px);
		color: $color_light;
		margin-bottom: rem(15px);
	}
	.form-group {
		margin-bottom: rem(10px);
		.form-control {
			padding-left: 0;
			font-size: rem(14px);
			color: $color_light;
			background-color: transparent;
			border: none;
			border-bottom: rem(1px) solid #fa767b;
		}
		.submit-btn {
			margin-top: rem(20px);
			background-color: $color_light;
			color: $color_black;
			font-weight: 700;
			padding: rem(6px 30px);
			&:hover {
				background-color: $color_black;
				color: $color_light;
			}
		}

		input.form-control::-webkit-input-placeholder,
		textarea.form-control::-webkit-input-placeholder {
			color: #fcc4c6;
		}
	}
}
